@import "tailwindcss";

:root {  
  --background: #4618ac;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-metropolis-sans);
  --font-mono: var(--font-metropolis-mono);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-metropolis);
  }
}