@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  
}

:root {
      --background: #4618ac;
      --foreground: #FFFFFF;
      --accent: #FAD318;
}

@layer base {
  html {
    font-family: "Metropolis", system-ui, sans-serif;
    font-size: 14px;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;            
}

input[type="search"]::-moz-search-clear-button {
  display: none;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/*
 * metropolis
================================================================================ */

@font-face {
  font-family: "Metropolis";
  src: url("/src/shared/fonts/metropolis/metropolis-extralight-webfont.woff2") format("woff2"),
       url("/src/shared/fonts/metropolis/metropolis-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/src/shared/fonts/metropolis/metropolis-light-webfont.woff2") format("woff2"),
       url("/src/shared/fonts/metropolis/metropolis-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/src/shared/fonts/metropolis/metropolis-regular-webfont.woff2") format("woff2"),
       url("/src/shared/fonts/metropolis/metropolis-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/src/shared/fonts/metropolis/metropolis-medium-webfont.woff2") format("woff2"),
       url("/src/shared/fonts/metropolis/metropolis-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/src/shared/fonts/metropolis/metropolis-semibold-webfont.woff2") format("woff2"),
       url("/src/shared/fonts/metropolis/metropolis-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("/src/shared/fonts/metropolis/metropolis-bold-webfont.woff2") format("woff2"),
       url("/src/shared/fonts/metropolis/metropolis-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Metropolis";
  src: url("/src/shared/fonts/metropolis/metropolis-regularitalic-webfont.woff2") format("woff2"),
       url("/src/shared/fonts/metropolis/metropolis-regularitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}